# Windows Zone.Identifier files
*:Zone.Identifier
*.Zone.Identifier
cleaner.js

./Zone01Guides/static/sudoku/pgevam
./Zone01Guides/static/sudoku/gaspdk
./Zone01Guides/static/sudoku/avefgp
./Zone01Guides/static/sudoku/nicgkx
./Zone01Guides/static/sudoku/mampmn
./Zone01Guides/static/sudoku/ag
