:root {
  --tone-1: #0c091eff;
  --tone-2: #120d2cff;
  --tone-3: #49369aff;
  --tone-4: #7c5bffff;
  --tone-5: #d6cbffff;
  --tone-1-rgb: 12, 9, 30;
  --tone-2-rgb: 18, 13, 44;
  --tone-3-rgb: 73, 54, 154;
  --tone-4-rgb: 124, 91, 255;
  --tone-5-rgb: 214, 203, 255;
  --tone-text: #fff9e6ff;
  --tone-text-rgb: 255, 249, 230;
  --code-bg: #080614ff;
  --code-bg-rgb: 8, 6, 20;
}